@page "/configlist"
@attribute [Authorize]


@using ConfigDataApp
@using Newtonsoft.Json
@inject IConfigDataService ConfigDataService
@inject NavigationManager NavManager

@if (configDataList != null)
{
    @foreach (var configData in configDataList)
    {
        <p>@configData.ID - @configData.Data - @configData.DateTime - @configData.UserName</p>
    }
}
@code {
    private List<ConfigData> configDataList = new List<ConfigData>();

    protected override async Task OnInitializedAsync()
    {
        await ConfigDataService.InitClassAsync();
        var jsonString = await ConfigDataService.ReadAllIdDataAsync();
        configDataList = JsonConvert.DeserializeObject<List<ConfigData>>(jsonString);
    }
}
